<header>
	{{! branding }}
	<section id="cp-branding" class="cp-branding">
		<div class="container">
			<div class="row">
				{{! logo }}
				<div class="col-xs-12 col-md-3">
					<div class="pull-left">
						<!-- start logo -->
						{{#if @blog.logo}}
						<a class="logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a>
						{{else}}
						<a class="logo" href="{{@blog.url}}"><h1>{{@blog.title}}</h1></a>
						{{/if}}
						<!-- end logo -->
					</div>
				</div>
				{{! Ad }}
				<div class="col-xs-12 col-md-9">
					<!--Start of Header Advert -->
					
					{{> headerad}}
					
					<!--End of Header Advert -->
				</div>
			</div>
		</div>
	</section>
	
	{{! navigation }}
	<nav class="navbar navbar-default">
	  <div class="container cp-navigation">
		<!--
		<form class="navbar-form navbar-right cp-post-search" role="search">
		  <div class="form-group">
			<div class="input-group">
			  <input type="text" class="form-control cp-search" id="search-field" placeholder="Search here...">
			  <div class="input-group-addon cp-search-icon"><i class="glyphicon glyphicon-search"></i></div>
			</div>
		  </div>
		  <div id="search-results" class="search-results"></div>
		</form>
-->

		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#cp-navbar-collapse" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		</div>
		{{navigation}}
		

<div class="collapse navbar-collapse" id="cp-navbar-collapse">
	<ul class="nav navbar-nav">
		{{#foreach navigation}}
			<li class="{{slug}} {{#if current}}active{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
		{{/foreach}}


			{{!-- <li class="home"><a href="{{@blog.url}}">Home</a></li> --}}
			<li>Professional:</li>
			<li class="#innovation"><a href="{{@blog.url}}/tag/innovation">#Innovation</a></li>
			<li class="#education"><a href="{{@blog.url}}/tag/education">#Education</a></li>
			<li class="#technology"><a href="{{@blog.url}}/tag/technology">#Technology</a></li>
			<li>Personal:</li>
			<li class="#Mas-Sano"><a href="{{@blog.url}}/tag/mas-sano/">#Mas-Sano</a></li>
			<li class="#Mas-Prospero"><a href="{{@blog.url}}/tag/mas-prospero/">#Mas-Prospero</a></li>
			<li class="#Mas-Sabio"><a href="{{@blog.url}}/tag/mas-sabio/">#Mas-Sabio</a></li>
			<li class="about"><a href="{{@blog.url}}/about">About</a></li>
			<li class="portfolio"><a href="{{@blog.url}}/portfolio">Portfolio</a></li>

	</ul>
</div>

		
	  </div><!-- /.container -->
	</nav><!-- /navigation -->
</header>