<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" href="{{asset "css/style.css"}}" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />  
  
    {{> "analytics" }}
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    {{! Everything else gets inserted here }}
    {{{body}}}

    <footer id="footer" class="row site-footer clearfix">
        <section class="col-sm-4 footer-links">
            <ul class="nav nav-stacked">
                {{> "links"}}
            </ul>
        </section> 
        <section class="col-sm-4 copyright">
            <a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}
        </section>
        <section class="col-sm 4 poweredby">
            Proudly using the <a href="http://github.com/jeffm13/ghoststrap">Ghoststrap</a> theme running on <a href="https://ghost.org">Ghost</a>
        </section>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Ghoststrap }}
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script></body>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fitvids/1.1.0/jquery.fitvids.js"></script>
    <script src="{{asset "js/jquery.stellar.js"}}" />
    <script>
		$(function(){
			$.stellar({
				horizontalScrolling: false
				//, verticalOffset: -40
			});
		});
    </script>
    <script>
        $(window).scroll(function() {
            if ($(".navbar").offset().top > 250) {
                $(".navbar-fixed-top").addClass("navbar-solid-override");
            } else {
                $(".navbar-fixed-top").removeClass("navbar-solid-override");
            }
        });
    </script>
</body>
</html>